.item {
    display: inline-block;
    width: 31.33%;
    padding: 10px;
    margin: 10px 1%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;

    .gif {
        height: 200px;
        width: 100%;
      }
  }